[user]
	name = Byran Low
	email = git@lowbryan.com
	{{- if eq .chezmoi.os "darwin" }}
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN1cnWkTL+uTHWxf5cjZcFWjKx6SuMwqfdzJRoUlnAww Signing Key
	{{- else }}
	signingkey = ~/.ssh/signing_key.pub
	{{- end }}
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[pull]
	rebase = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gpg "ssh"]
	{{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	{{- end }}
	allowedSignersFile = ~/.config/git/allowed_signers
[commit]
	gpgsign = true
[url "ssh://git@git.keyute.io/"]
	insteadOf = https://git.keyute.io/
[diff]
	algorithm = histogram
[gpg]
	format = ssh
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[push]
	autoSetupRemote = true
[fetch]
	prune = true
