{{- if ne .chezmoi.os "darwin" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

alias python='python3'
alias lg='lazygit'

eval "$(starship init zsh)"
function set_win_title(){
    echo -ne "\033]0; $(basename "$PWD") \007"
}
precmd_functions+=(set_win_title)

if type brew &>/dev/null; then
    FPATH="$(brew --prefix)/share/zsh/site-functions:$(brew --prefix)/share/zsh-completions:$FPATH"
fi

zmodload zsh/complist
autoload -U compinit; compinit
_comp_options+=(globdots)

source $HOME/.local/share/zsh/fzf-tab/fzf-tab.plugin.zsh
zstyle ':completion:complete:git-*:argument-rest' sort false
{{- if eq .chezmoi.os "darwin" }}
if [ "$(defaults read -g AppleInterfaceStyle 2>/dev/null)" != "Dark" ]; then
    zstyle ':fzf-tab:*' default-color $'\033[30m'
    zstyle ':fzf-tab:*' fzf-flags --color=light
fi
{{- end }}

source $HOMEBREW_PREFIX/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source $HOMEBREW_PREFIX/share/zsh-history-substring-search/zsh-history-substring-search.zsh
source $HOMEBREW_PREFIX/opt/zsh-fast-syntax-highlighting/share/zsh-fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh

bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down

export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"

export GOPRIVATE="git.keyute.io"
export GOPATH="$HOME/.go"

export XDG_CONFIG_HOME="$HOME/.config"

alias vim=nvim
alias vi=nvim
export EDITOR="nvim"

export HISTFILE="$HOME/.zsh_history"
export HISTSIZE=100000
setopt SHARE_HISTORY
setopt INC_APPEND_HISTORY
