[user]
	name = Bryan Low
	signingkey = ~/.ssh/signing.pub
[init]
	defaultBranch = main
[core]
	editor = nvim
{{- if eq .chezmoi.os "darwin" }}
	pager = delta --features "$(defaults read -g AppleInterfaceStyle >/dev/null 2>&1 && echo catppuccin-mocha || echo catppuccin-latte)"
{{- else }}
	pager = delta
{{- end }}
[pull]
	rebase = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
{{- if eq .chezmoi.os "darwin" }}
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- else }}
	program = "/opt/1Password/op-ssh-sign"
{{- end }}
[commit]
	gpgsign = true
[diff]
	algorithm = histogram
	colorMoved = default
[gpg]
	format = ssh
[interactive]
{{- if eq .chezmoi.os "darwin" }}
	diffFilter = delta --color-only --features "$(defaults read -g AppleInterfaceStyle >/dev/null 2>&1 && echo catppuccin-mocha || echo catppuccin-latte)"
{{- else }}
	diffFilter = delta --color-only
{{- end }}
[color]
	ui = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[include]
	path = ~/.config/delta/catppuccin.gitconfig
[delta]
	navigate = true
	line-numbers = true
[merge]
	tool = diffview
	conflictstyle = zdiff3
[mergetool "diffview"]
	cmd = nvim -c "DiffviewOpen"
[includeIf "gitdir:~/Projects/work/**"]
	path = ~/Projects/work/.gitconfig
[includeIf "gitdir:~/Projects/github/**"]
	path = ~/Projects/github/.gitconfig
[includeIf "gitdir:~/Projects/usyd/**"]
	path = ~/Projects/usyd/.gitconfig
