#!/usr/bin/env bash
set -euo pipefail

# package.json: {{ include "package.json" | sha256sum }}
# package-lock.json: {{ include "package-lock.json" | sha256sum }}

npm ci --ignore-scripts --omit=dev --prefix "{{ .chezmoi.sourceDir }}"

browser_args=(install-browser chromium --no-shell)
{{- if eq .chezmoi.os "linux" }}
browser_args+=(--with-deps)
{{- end }}

"{{ .chezmoi.sourceDir }}/node_modules/.bin/playwright-mcp" "${browser_args[@]}"
