#!/bin/bash

if ! command -v brew &> /dev/null; then
  echo "Brew is not installed. Installing now..."
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  echo "Brew is already installed. Skipping installation."
fi

{{- if eq .chezmoi.os "darwin" }}
# Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}
brew bundle install --no-lock --cleanup --no-upgrade --global
{{- else }}
# Brewfile hash: {{ include "dot_Linuxbrewfile" | sha256sum }}
brew bundle install --no-lock --cleanup --no-upgrade --file .Linuxbrewfile
{{- end }}

brew cleanup --prune=all
