{{- if eq .chezmoi.os "darwin" }}
Include ~/.orbstack/ssh/config
{{- end }}
Host *
  StrictHostKeyChecking accept-new
Host usyd
  HostName git.edstem.org
  HostName github.sydney.edu.au
Host usyd
  IdentityFile "$HOME/.ssh/usyd.pub"
  IdentitiesOnly yes
Match Host git.keyute.io Exec "! nslookup git.keyute.io | grep -qE '10\.0\.2\.9'"
  ProxyCommand /opt/homebrew/bin/cloudflared access ssh --hostname ssh.git.keyute.io
Host git.keyute.io
  IdentityFile "$HOME/.ssh/github_enterprise.pub"
  IdentitiesOnly yes
Host github.com
  IdentityFile "$HOME/.ssh/github.pub"
  IdentitiesOnly yes
Host 10.*
  IdentityFile "$HOME/.ssh/vmware.pub"
  IdentitiesOnly yes
