{{- if eq .chezmoi.os "darwin" }}
Include ~/.orbstack/ssh/config
{{- end }}
Host *
  StrictHostKeyChecking accept-new
Host git.edstem.org github.sydney.edu.au
  IdentityFile "~/.ssh/usyd"
  IdentitiesOnly yes
Match Host git.keyute.io Exec "! nslookup git.keyute.io | grep -qE '10\.0\.2\.9'"
  ProxyCommand /opt/homebrew/bin/cloudflared access ssh --hostname ssh.git.keyute.io
Host github.com
  IdentityFile "~/.ssh/github"
  IdentitiesOnly yes
Host 10.*
  IdentityFile "~/.ssh/vmware"
  IdentitiesOnly yes
