[completion]
max_input_length = 8000

[model.chat.http]
kind = "openai/chat"
model_name = "openai/gpt-4.1"
api_endpoint = "https://api.kubecity.ai/v1"
api_key = {{- onepasswordRead "op://Personal/LiteLLM/api key" | quote }}

[model.completion.http]
kind = "ollama/completion"
model_name = "qwen2.5-coder:7b-base-q4_K_M"
api_endpoint = "http://localhost:11434"
prompt_template = "<|fim_prefix|>{prefix}<|fim_suffix|>{suffix}<|fim_middle|>"

[model.embedding.http]
kind = "ollama/embedding"
model_name = "bge-m3:latest"
api_endpoint = "http://localhost:11434"
