name: Local Config
version: 1.0.0
schema: v1
models:
  - name: Autocomplete
    provider: ollama
    model: {{ if eq .chezmoi.os "darwin" -}}qwen2.5-coder:3b-base-q8_0{{- else -}}qwen2.5-coder:0.5b-q8_0{{- end }}
    roles:
      - autocomplete
    defaultCompletionOptions:
      contextLength: 8000
