[Unit]
Description=RamaLama minuet-qwen AI Model Service
After=local-fs.target

[Container]
AddDevice=-/dev/accel
AddDevice=-/dev/dri
AddDevice=-/dev/kfd
Image=quay.io/ramalama/ramalama:0.21
RunInit=true
Environment=HOME=/tmp
Environment=INTEL_VISIBLE_DEVICES=1
Environment=GGML_OPENVINO_DEVICE=GPU
Environment=GGML_OPENVINO_STATEFUL_EXECUTION=1
Exec=llama-server --host :: --port 11434 --model /mnt/models/qwen2.5-coder --chat-template-file /mnt/models/chat_template_extracted --no-warmup --alias library/qwen2.5-coder --ctx-size 8192 --temp 0.8 --no-webui --threads 4 --log-colors on -fa on --cache-reuse 256
SecurityLabelDisable=true
DropCapability=all
NoNewPrivileges=true
Mount=type=bind,src=/home/keyute/.local/share/ramalama/store/ollama/library/qwen2.5-coder/blobs/sha256-cd8e9439f0570856fd70470bf8889ebd8b5d1107207f67a5efb46e342330527f,target=/mnt/models/chat_template_extracted,ro,Z
Mount=type=bind,src=/home/keyute/.local/share/ramalama/store/ollama/library/qwen2.5-coder/blobs/sha256-de8472199796c9350201ede71400d552d4b0dec33dd6d9254c1e52f45484edf4,target=/mnt/models/qwen2.5-coder,ro,Z
ContainerName=minuet-qwen
PublishPort=127.0.0.1:11434:11434 

[Install]
WantedBy=multi-user.target default.target

